.Loader {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(50vh - 150px);
    justify-content: flex-start;
    width: 1250px;
    margin: 0 auto;

    background: var(--background);
}

.fakeHeader, .fakeHeaderShort {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 12px;
    color: var(--main);
    font-size: 44px;
    font-weight: bold;
    animation-name: headerBlink;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fakeHeaderShort {
    display: none;
}

.clockLoader {
    --clock-color: var(--main);
    --clock-width: 100px;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 5px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: calc(var(--clock-radius) * 0.25);
        width: var(--clock-thickness);
        background: var(--clock-color);
        border-radius: 10px;
        transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
        animation: spin infinite linear;
    }

    &::before {
        height: var(--clock-minute-length);
        animation-duration: 2s;
    }

    &::after {
        top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
        height: var(--clock-hour-length);
        animation-duration: 15s;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes headerBlink {
    0%{
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}


@media (max-width: 1439px) and (min-width: 1024px) {
    .Loader {
        width: 984px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .Loader {
        width: 728px;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .Loader {
        width: 405px;
    }

    .fakeHeader {
        display: none;

        &Short {
            display: flex;
            padding-left: 15px;
        }
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .Loader {
        width: 300px;
    }

    .fakeHeader {
        display: none;

        &Short {
            display: flex;
            padding-top: 12px;
            padding-left: 15px;
            font-size: 36px;
        }
    }
}