.StatisticsCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
}

@media (max-width: 767px) and (min-width: 425px) {
    .StatisticsCont {
        width: 405px;
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .StatisticsCont {
        width: 300px;
    }
}