.defaultRangeInput {
    appearance: none;
    background: none;
    width: 75%;

    &::-webkit-slider-runnable-track {
        height: 20px;
        background: var(--subAlt);
        border-radius: 25px;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        box-sizing: border-box;
        height: 20px;
        width: 20px;
        background: var(--main);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background: var(--text);
        }

        &:active {
            background: var(--sub);
        }
    }
}

.label {
    width: 42px;
    margin-right: auto;
    padding: 5px;
    color: var(--text);
    border: 2px solid var(--main);
    border-radius: 25px;
    text-align: center;
}