.RatingPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    width: 1250px;
}

.heading {
    color: var(--text);
    font-size: 40px;
}

.boardsCont {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1439px) and (min-width: 1024px) {
    .RatingPage {
        width: 984px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .RatingPage {
        width: 728px;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .RatingPage {
        width: 405px;
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .RatingPage {
        width: 300px;
    }
}