.CellCont {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    padding: 15px 20px;
}

.cell {
    &Name {
        color: var(--sub);
        font-size: 16px;
        font-weight: normal;
    }

    &Value {
        color: var(--text);
        font-size: 48px;
        font-weight: normal;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .CellCont {
        padding: 10px 10px;
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .CellCont {
        padding: 10px 10px;
    }

    .cell {
        &Value {
            font-size: 32px;
        }
    }
}