@import '../../variables.scss';

.InfoIcon{
    width: 20px;
    fill: var(--sub);

    transition: all .2s linear;

    &:hover{
        fill: var(--text);
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .InfoIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
    }
}