.robotoMonoFont {
    --font: 'Roboto Mono', monospace;
}

.spaceMonoFont {
    --font: 'Space Mono', monospace;
}

.openSansFont {
    --font: 'Open Sans', sans-serif;
}

.montserratSansFont {
    --font: 'Montserrat', sans-serif;
}

.ubuntuFont {
    --font: 'Ubuntu', sans-serif;
}