// Color --------------------------------------
$gray-color: #323437;
$dark-gray-color: #2c2e31;
$light-gray-color: #646669;
$yellow-color: #e2b714;
$white-gray-color: #d1d0c5;

$purple-color: #2e1a47;
$dark-purple-color: #27173c;
$light-purple-color: #c18fff;
$white-color: #f7f2ea;


// main-theme===================
$main-gray-bg: #323437;
$main-yellow-text: #e2b533;
$disabled-text: #646669;
$main-incorrect-text: #ca4754;
// =============================

//  Fonts -------------------------------------

$ubuntu: 'Ubuntu', sans-serif;
$montserratSans: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;
$spaceMono: 'Space Mono', monospace;
$robotoMono: 'Roboto Mono', monospace;

//  Font-size ---------------------------------

$test-letters: 1.5rem;
$small-letters: 0.75rem;

// Borders ------------------------------------

$border-rad: 10px;
