@import '../../variables.scss';

.ModeBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.modesList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: $border-rad;
    background-color: var(--subAlt);
    list-style: none;
}

.mode{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    text-align: center;
    transition: all .2s linear;

    &:hover{
        color: var(--main)
    }

    &Active{
        color: var(--main)
    }
}

.modes {
    &Seconds,
    &Words{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .ModeBar {
        width: 728px;
    }

    .modesList {
        gap: 10px;
        padding: 10px 10px;
    }

    .modes {
        &Seconds,
        &Words {
            gap: 10px;
        }
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .ModeBar {
        width: 405px;
    }

    .modesList {
        flex-direction: row;
        padding: 10px 10px;
    }

    .modes {
        &Seconds,
        &Words {
            flex-direction: column;
        }
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .ModeBar {
        width: 300px;
    }

    .modesList {
        flex-direction: row;
        padding: 10px 10px;
    }

    .modes {
        &Seconds,
        &Words {
            flex-direction: column;
        }
    }
}